/target
external/bin
external/lua-5.4.8
external/soloud20200207
/build/
.build/
*.o
*.a
insane_night
insane_night_tests
main.s
compile_commands.json
.cache/
.tmp
*.dis
perf.data
*.ninja_deps
*.ninja_log
CMakeCache.txt
