[submodule "external/bx"]
	path = external/bx
	url = https://github.com/bkaradzic/bx
[submodule "external/bimg"]
	path = external/bimg
	url = https://github.com/bkaradzic/bimg
[submodule "external/bgfx"]
	path = external/bgfx
	url = https://github.com/bkaradzic/bgfx
[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "external/tsfont"]
	path = external/tsfont
	url = https://github.com/ImpostorBoy228/tsfont
[submodule "external/sol2"]
	path = external/sol2
	url = https://github.com/ThePhD/sol2.git
